# Generative - AI

## 1. Python Data structure and boolean

- Boolean
- List
- Dictinory
- Tuple
- Sets

### 1. Boolean

In [1]:
True

True

In [2]:
False

False

In [3]:
bool()

False

In [4]:
True and False

False

In [5]:
True or False

True

In [6]:
True and True

True

In [7]:
False and False

False

In [8]:
a = 'Hello World'
b = 'Hello 123'

In [9]:
print('Is Alphanumeric:', a.isalnum())
print('Is Upper case:', a.isupper())
print('Is Lower case:', a.islower())
print('Is Digit:', a.isdigit())
print('Is Title:', a.istitle())
print('Is Starts with P:', a.startswith('P'))
print('Is Ends with d:', a.endswith('d'))
print('Is Space in between:', a.isspace())

Is Alphanumeric: False
Is Upper case: False
Is Lower case: False
Is Digit: False
Is Title: True
Is Starts with P: False
Is Ends with d: True
Is Space in between: False

###

### 2. List

In [10]:
list_example = []
type(list_example)

list

In [11]:
# len method
list_example = [12, 45, 'Hello', 'Brother']
len(list_example)

4

In [12]:
# append method - It append the item at the end of the list
list_example.append(23)
list_example

[12, 45, 'Hello', 'Brother', 23]

In [13]:
# extend - It also add the element in the end of the list

In [14]:
list_example.append('Add')
list_example

[12, 45, 'Hello', 'Brother', 23, 'Add']

In [15]:
# clear - It clears the list
list_example.clear()
list_example

[]

In [16]:
list_example = ['Apple', 'Banana', 'Cheery', 'Orange', 'Grape', 'Kiwi']

In [17]:
# copy - It copies the current list in new variable
new_list = list_example.copy()
new_list

['Apple', 'Banana', 'Cheery', 'Orange', 'Grape', 'Kiwi']

In [18]:
# reverse - It reverse the order of the list elements
list_example.reverse()
list_example

['Kiwi', 'Grape', 'Orange', 'Cheery', 'Banana', 'Apple']

In [19]:
# index - Find the index of perticular item
list_example.index('Apple')

5

In [20]:
# insert - Insert add the element at the begining Parameters = (Index where need to add, Data)
list_example.insert(0, 'Coconut')
list_example

['Coconut', 'Kiwi', 'Grape', 'Orange', 'Cheery', 'Banana', 'Apple']

In [21]:
# pop - Remove the element from last element
print(list_example.pop()) # If not specified index or item it will remove last element
print(list_example.pop(2)) # Remove 2nd index element

Apple
Grape

In [22]:
# remove - It removes the specified value in the parameter
list_example.remove('Orange')
list_example

['Coconut', 'Kiwi', 'Cheery', 'Banana']

###

### 3. Dictionary

In [23]:
dict_var = dict()
type(dict_var)

dict

In [24]:
# Can not access by index
dict_var = {'Car1': 'Suzuki', 'Car2': 'Maruti', 'Car3': 'Audi'}
# dict_var[1]

In [25]:
# Access by Key
dict_var['Car1']

'Suzuki'

In [26]:
# Access by get keyword
dict_var.get('Car1')

'Suzuki'

In [27]:
# Access keys in te dictionary
for x in dict_var:
    print(x)

Car1
Car2
Car3

In [28]:
# Access values in te dictionary
for x in dict_var.values():
    print(x)

Suzuki
Maruti
Audi

In [29]:
# Access both keys values in te dictionary
for x in dict_var.items():
    print(x)

('Car1', 'Suzuki')
('Car2', 'Maruti')
('Car3', 'Audi')

In [30]:
# Add new key value

dict_var['Car4'] = 'WagonR'
dict_var

{'Car1': 'Suzuki', 'Car2': 'Maruti', 'Car3': 'Audi', 'Car4': 'WagonR'}

In [31]:
# Nested Dictionaries

car1 = {'Maruti': 1998}
car2 = {'Audi': 2005}
car3 = {'WagonR': 2001}

nested_cars = {'Car1': car1, 'Car2':car2, 'Car3':car3}
print(nested_cars)
print(nested_cars.get('Car1'))
print(nested_cars.get('Car1').get('Maruti'))

{'Car1': {'Maruti': 1998}, 'Car2': {'Audi': 2005}, 'Car3': {'WagonR': 2001}}
{'Maruti': 1998}
1998

### 4. Tuple

In [32]:
tup_var = tuple()
type(tup_var)

tuple

In [33]:
tup_var = ('Ashish', 'Yogesh', 'Sagar')
type(tup_var)

tuple

In [34]:
# Tuples does not support item assignments
# tup_var[0] = 'Vishal'

In [35]:
# You can replace the tuple but can not change the values present in the tuple
tup_var = ('Raj', 'Pooja', 'Ganesh')
tup_var

('Raj', 'Pooja', 'Ganesh')

### 4. Set

In [36]:
set_var = set()
print(type(set_var))

<class 'set'>

In [37]:
set_var = {'Marvel', 'Avenger', 'Hulk'}
print(set_var)
print(type(set_var))

{'Marvel', 'Avenger', 'Hulk'}
<class 'set'>

In [38]:
# set_var[0] - Can not access by Index
# set_var['Marvel'] - Can not access by value

In [39]:
# Does not allow duplicate

set_var.add('Avenger')
set_var

{'Avenger', 'Hulk', 'Marvel'}

In [40]:
# Find the diffrence from previous set
set_var2 = {'Marvel', 'Avenger', 'Hulk', 'Rocket'}

set_var2.difference(set_var)

{'Rocket'}

In [41]:
# Intersection 
set_var2.intersection(set_var)

{'Avenger', 'Hulk', 'Marvel'}

In [42]:
# Intersection update
set_var2.intersection_update(set_var)
set_var2

{'Avenger', 'Hulk', 'Marvel'}

In [43]:
# Update the diffrence

set_var2.difference_update(set_var)

In [44]:
set_var2

set()